.Galeria{
    background-color:black;
}


.tituloGaleria{
    margin-top: 50px;
    padding: 50px 0;
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    color: white;
    border: 5px solid black;
    font-size: 1.5em;
}

.tituloGaleria h1{
    animation: rollIn;
    animation-duration: 2s; 
}

#galeria p{
    color:white;
    font-size: 2.05em;
    font-family:cursive;
    animation: zoomInDown;
    animation-duration: 2s; 
}



#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 250px;
    animation: rotateInDownLeft;
    animation-duration: 2s;
}


#galeria img:hover {
    border: 5px solid rgb(182, 94, 241);
    box-shadow: 19px 19px 19px rgba(225, 210, 9, 0.5);
}