*{
    box-sizing: border-box;
}




body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1{ font-size:3.5em;}
h2{ font-size:2.7em;}
h3{ font-size:2em;}
p{ font-size:1.25em;}
ul{ list-style: none;}


button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }

   .container1{
       max-width: 1400px;
       margin: auto;
   }

   .color-acento{ color:blueviolet; }

   header{
       background-color:#AF40FF;
   }

 header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
 }
 

header .container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/hacker-4031973_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}


#somosMunprogra .container1{
    text-align: center;
    padding: 200px 12px;
}

#UnpocodeNosotros{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#UnpocodeNosotros .container1{
    padding: 150px 12px;
}

#UnpocodeNosotros h2{
    margin-top: 0;
}

#UnpocodeNosotros p{
    display: none;
}


.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/web-1935737_640.png);
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/programmer-1653351_640.png);
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/Hacker\ azul.png);
    background-position: center center;
    background-size: cover;
}